@font-face {
  font-family: "Noto Sans JP";
  src: url("../fonts/noto-sans-jp-v55-japanese-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url('https://www.transparenttextures.com/patterns/white-diamond.png');
  background-color: whitesmoke;
  color: darkblue;
  font-family: Arial, sans-serif;
  line-height: 1.4;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

header, main, footer, section {
  width: 100%;
}

header {
  padding: 30px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

a {
  color: deeppink;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: darkmagenta;
  text-decoration: underline;
}

h1 {
  color: #663399;
  font-size: 3em;
  margin-bottom: 20px;
}

section {
  border: 2px solid #663399;
  margin-bottom: 20px;
  padding: 20px
