@font-face {
  font-family: "Noto Sans JP";
  src: url("../fonts/noto-sans-jp-v55-japanese-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url('https://www.transparenttextures.com/patterns/white-diamond.png');
  background-color: whitesmoke;
  color: darkblue;
  font-family: Arial, sans-serif;
  line-height: 1.4;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #663399;
  font-size: 3em; 
  text-align: center; 
}

.gojo-caption {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem; 
  text-align: center;
  display: block;
}

main p {
  font-size: 18px;
}

header {
  padding: 30px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

a {
  color: deeppink;
  text-decoration: none;
  font-weight: bold;
}

/* Effet de survol aux liens */
a:hover {
  color: darkmagenta;
  text-decoration: underline;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}


section {
  border: 2px solid #663399;
  margin: 20px 0;
  padding: 15px;
  border-radius: 8px;
}

img {
  height: 150px;
  width: auto;
  border-radius: 10px;
}

.peter-death {
  height: auto;
  width: 100%;
  max-width: 300px;
}

footer {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}
