@font-face {
  font-family: "Noto Sans JP", sans-serif;
  src: url("fonts/noto-sans-jp-v55-japanese-regular.woff2") format("woff2");
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.quote {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.gojo-caption {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center;
}

.peter-death {
  height: auto;
  width: 800px;

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4;
  color: darkblue;
  background-color: whitesmoke;
}

img {
  height: 133px;
  width: auto;
}

a {
  color: deeppink;
  text-decoration: none;
}

a:hover {
    color: darkmagenta;
}
